#container {
  overflow: hidden;
}
#barcode, #new_charge {
  float: left;
  height: auto;
  overflow: visible;
  margin: 20px;
  padding: 20px;

  .btn { float: right; }
}

#new_charge  { display: none; }
#new_charge.charge-errors { display: block; }

.simple_form .btn { margin-top: 1.8em; }